BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
AccessModifierOffset: -4
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
SortIncludes: true
IncludeBlocks: Preserve
NamespaceIndentation: None
ReflowComments: true
